Repository psawicki4/personal-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

alias changed to injectAnalytics
  apps/personal-website/src/app/app.component.ts
Due: prettier --write, eslint --fix

unit tests added to ai-assistant
  apps/personal-website/src/app/pages/ai-assistant/ai-assistant.component.spec.ts
  apps/personal-website/src/app/pages/form/form.component.spec.ts
  apps/personal-website/src/app/pages/grid/grid.component.spec.ts
  apps/personal-website/src/app/pages/list-page/list-page.component.spec.ts
  eslint.config.mjs
  libs/personal-website-components/src/lib/header/header.component.spec.ts
  libs/personal-website-components/src/lib/lang-switch/lang-switch.component.spec.ts
  libs/personal-website-components/src/lib/menu/menu.component.spec.ts
  libs/utils/src/index.ts
  libs/utils/src/lib/transloco-testing.ts
Due: prettier --write, eslint --fix

fix ssr cache
  libs/utils/src/lib/transloco-testing.ts
Due: prettier --write, eslint --fix

nx updated
  package-lock.json
  package.json
Due: prettier --write

lang-switch test fix
  libs/personal-website-components/src/lib/lang-switch/lang-switch.component.spec.ts
Due: prettier --write, eslint --fix

lang service refactored
  apps/personal-website/src/app/app.component.ts
  libs/personal-website-components/src/lib/lang-switch/lang-switch.component.html
  libs/personal-website-components/src/lib/lang-switch/lang-switch.component.ts
  libs/personal-website-components/src/lib/menu/menu.component.scss
  libs/utils/src/lib/lang.service.ts
Due: prettier --write, eslint --fix

fixed test lang-switch
  libs/personal-website-components/src/lib/lang-switch/lang-switch.component.spec.ts
Due: prettier --write, eslint --fix

mail directive tweak
  libs/personal-website-components/src/lib/contact-dialog/reverse-mail.directive.ts
Due: prettier --write, eslint --fix

tool added to home and readme
  README.md
  apps/personal-website/src/app/pages/home/home.component.html
Due: prettier --write, eslint --fix

changed to faster model
  apps/personal-website/src/app/pages/ai-assistant/gemini.service.ts
Due: prettier --write, eslint --fix

home text changed
  apps/personal-website/src/app/pages/home/home.component.html
  apps/personal-website/src/assets/i18n/en.json
  apps/personal-website/src/assets/i18n/pl.json
Due: prettier --write, eslint --fix

audit fix
  package-lock.json
Due: prettier --write

Revert "audit fix"
  package-lock.json
Due: prettier --write

sound reminder added, mobile menu fix
  apps/personal-website/src/app/app.component.scss
  apps/personal-website/src/app/pages/ai-assistant/ai-assistant.component.html
  apps/personal-website/src/app/pages/ai-assistant/ai-assistant.component.ts
  apps/personal-website/src/assets/i18n/en.json
  apps/personal-website/src/assets/i18n/pl.json
Due: prettier --write, eslint --fix

nx mcp config
  .gemini/commands/monitor-ci.toml
  .gemini/settings.json
  .gemini/skills/link-workspace-packages/skill.md
  .gemini/skills/monitor-ci/references/fix-flows.md
  .gemini/skills/monitor-ci/scripts/ci-poll-decide.mjs
  .gemini/skills/monitor-ci/scripts/ci-state-update.mjs
  .gemini/skills/monitor-ci/skill.md
  .gemini/skills/nx-generate/skill.md
  .gemini/skills/nx-import/references/ESLINT.md
  .gemini/skills/nx-import/references/GRADLE.md
  .gemini/skills/nx-import/references/JEST.md
  .gemini/skills/nx-import/references/NEXT.md
  .gemini/skills/nx-import/references/TURBOREPO.md
  .gemini/skills/nx-import/references/VITE.md
  .gemini/skills/nx-import/skill.md
  .gemini/skills/nx-plugins/skill.md
  .gemini/skills/nx-run-tasks/skill.md
  .gemini/skills/nx-workspace/references/AFFECTED.md
  .gemini/skills/nx-workspace/skill.md
  .github/agents/ci-monitor-subagent.agent.md
  .github/prompts/monitor-ci.prompt.md
  .github/skills/link-workspace-packages/SKILL.md
  .github/skills/monitor-ci/SKILL.md
  .github/skills/monitor-ci/references/fix-flows.md
  .github/skills/monitor-ci/scripts/ci-poll-decide.mjs
  .github/skills/monitor-ci/scripts/ci-state-update.mjs
  .github/skills/nx-generate/SKILL.md
  .github/skills/nx-import/SKILL.md
  .github/skills/nx-import/references/ESLINT.md
  .github/skills/nx-import/references/GRADLE.md
  .github/skills/nx-import/references/JEST.md
  .github/skills/nx-import/references/NEXT.md
  .github/skills/nx-import/references/TURBOREPO.md
  .github/skills/nx-import/references/VITE.md
  .github/skills/nx-plugins/SKILL.md
  .github/skills/nx-run-tasks/SKILL.md
  .github/skills/nx-workspace/SKILL.md
  .github/skills/nx-workspace/references/AFFECTED.md
  .gitignore
  AGENTS.md
Due: prettier --write

en language loading fixed
  apps/personal-website/src/app/app.config.ts
  libs/utils/src/lib/lang.service.ts
Due: prettier --write, eslint --fix

packages updated
  .gitignore
  apps/personal-website/project.json
  libs/personal-website-components/project.json
  libs/utils/project.json
  nx.json
  package-lock.json
  package.json
Due: prettier --write

host name fix
  apps/personal-website/project.json
Due: prettier --write

migrate to pnpm
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

fixed ci
  .github/workflows/ci.yml
  .husky/pre-commit
  nx.json
  package.json
Due: prettier --write

sonar ai-assistant test fix
  apps/personal-website/src/app/pages/ai-assistant/ai-assistant.component.spec.ts
Due: prettier --write, eslint --fix

init diagram
  apps/personal-website/src/app/app.routes.ts
  apps/personal-website/src/app/pages/diagram/diagram.component.html
  apps/personal-website/src/app/pages/diagram/diagram.component.scss
  apps/personal-website/src/app/pages/diagram/diagram.component.spec.ts
  apps/personal-website/src/app/pages/diagram/diagram.component.ts
  apps/personal-website/src/assets/i18n/en.json
  apps/personal-website/src/assets/i18n/pl.json
  apps/personal-website/src/styles.scss
  libs/personal-website-components/src/lib/menu/menu.component.html
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

ai-assistant tweaks
  apps/personal-website/src/app/pages/ai-assistant/ai-assistant.component.html
  apps/personal-website/src/assets/i18n/en.json
  apps/personal-website/src/assets/i18n/pl.json
Due: prettier --write, eslint --fix

ng-diagram initial implementation
  apps/personal-website/src/1index1.html
  apps/personal-website/src/app/pages/diagram/diagram.component.html
  apps/personal-website/src/app/pages/diagram/diagram.component.ts
  libs/utils/src/index.ts
  libs/utils/src/lib/portrait.service.ts
Due: prettier --write, eslint --fix

fix test config
  apps/personal-website/src/app/pages/diagram/diagram.component.spec.ts
Due: prettier --write, eslint --fix

theme-modified
  apps/personal-website/src/app/pages/grid/grid.component.ts
  apps/personal-website/src/styles/custom-theme.scss
  apps/personal-website/src/styles/variables.scss
  libs/personal-website-components/src/lib/card/card.component.scss
  libs/personal-website-components/src/lib/list/list.component.scss
  libs/personal-website-components/src/lib/menu/menu.component.scss
Due: prettier --write, eslint --fix

theme-modified (#8)
  apps/personal-website/src/app/pages/grid/grid.component.ts
  apps/personal-website/src/styles/custom-theme.scss
  apps/personal-website/src/styles/variables.scss
  libs/personal-website-components/src/lib/card/card.component.scss
  libs/personal-website-components/src/lib/list/list.component.scss
  libs/personal-website-components/src/lib/menu/menu.component.scss
Due: prettier --write, eslint --fix

ci fix
  .github/workflows/ci.yml
Due: none

nodes, palette init
  .vscode/mcp.json
  GEMINI.md
  apps/personal-website/src/app/pages/diagram/diagram.component.html
  apps/personal-website/src/app/pages/diagram/diagram.component.ts
  libs/personal-website-components/src/index.ts
  libs/personal-website-components/src/lib/diagram/node-templates.ts
  libs/personal-website-components/src/lib/diagram/nodes/action-node/action-node.component.html
  libs/personal-website-components/src/lib/diagram/nodes/action-node/action-node.component.scss
  libs/personal-website-components/src/lib/diagram/nodes/action-node/action-node.component.spec.ts
  libs/personal-website-components/src/lib/diagram/nodes/action-node/action-node.component.ts
  libs/personal-website-components/src/lib/diagram/nodes/decision-node/decision-node.component.html
  libs/personal-website-components/src/lib/diagram/nodes/decision-node/decision-node.component.scss
  libs/personal-website-components/src/lib/diagram/nodes/decision-node/decision-node.component.spec.ts
  libs/personal-website-components/src/lib/diagram/nodes/decision-node/decision-node.component.ts
  libs/personal-website-components/src/lib/diagram/palette/diagram-palette.component.html
  libs/personal-website-components/src/lib/diagram/palette/diagram-palette.component.scss
  libs/personal-website-components/src/lib/diagram/palette/diagram-palette.component.spec.ts
  libs/personal-website-components/src/lib/diagram/palette/diagram-palette.component.ts
Due: prettier --write, eslint --fix

note node added
  apps/personal-website/src/app/pages/diagram/diagram.component.html
  apps/personal-website/src/app/pages/diagram/diagram.component.scss
  apps/personal-website/src/app/pages/diagram/diagram.component.ts
  apps/personal-website/src/app/pages/grid/grid.component.ts
  libs/personal-website-components/src/index.ts
  libs/personal-website-components/src/lib/diagram/node-templates.ts
  libs/personal-website-components/src/lib/diagram/nodes/action-node/action-node.component.html
  libs/personal-website-components/src/lib/diagram/nodes/action-node/action-node.component.scss
  libs/personal-website-components/src/lib/diagram/nodes/action-node/action-node.component.spec.ts
  libs/personal-website-components/src/lib/diagram/nodes/action-node/action-node.component.ts
  libs/personal-website-components/src/lib/diagram/nodes/decision-node/decision-node.component.html
  libs/personal-website-components/src/lib/diagram/nodes/decision-node/decision-node.component.scss
  libs/personal-website-components/src/lib/diagram/nodes/decision-node/decision-node.component.spec.ts
  libs/personal-website-components/src/lib/diagram/nodes/note-node/note-node.component.html
  libs/personal-website-components/src/lib/diagram/nodes/note-node/note-node.component.scss
  libs/personal-website-components/src/lib/diagram/nodes/note-node/note-node.component.ts
  libs/personal-website-components/src/lib/diagram/palette/diagram-palette.component.html
  libs/personal-website-components/src/lib/diagram/palette/diagram-palette.component.scss
  libs/personal-website-components/src/lib/diagram/palette/diagram-palette.component.ts
Due: prettier --write, eslint --fix

sidebar added
  apps/personal-website/src/app/pages/diagram/diagram.component.html
  apps/personal-website/src/app/pages/diagram/diagram.component.scss
  apps/personal-website/src/app/pages/diagram/diagram.component.ts
  apps/personal-website/src/assets/i18n/en.json
  apps/personal-website/src/assets/i18n/pl.json
  libs/personal-website-components/src/index.ts
  libs/personal-website-components/src/lib/diagram/sidebar/diagram-sidebar.component.html
  libs/personal-website-components/src/lib/diagram/sidebar/diagram-sidebar.component.scss
  libs/personal-website-components/src/lib/diagram/sidebar/diagram-sidebar.component.ts
Due: prettier --write, eslint --fix

working diagram-sidebar
  apps/personal-website/src/app/pages/diagram/diagram.component.html
  apps/personal-website/src/assets/i18n/en.json
  apps/personal-website/src/assets/i18n/pl.json
  libs/personal-website-components/src/lib/diagram/nodes/note-node/note-node.component.ts
  libs/personal-website-components/src/lib/diagram/palette/diagram-palette.component.html
  libs/personal-website-components/src/lib/diagram/palette/diagram-palette.component.ts
  libs/personal-website-components/src/lib/diagram/sidebar/diagram-sidebar.component.html
  libs/personal-website-components/src/lib/diagram/sidebar/diagram-sidebar.component.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

diagram palette test fixed
  libs/personal-website-components/src/lib/diagram/palette/diagram-palette.component.spec.ts
Due: prettier --write, eslint --fix

color-picker added
  apps/personal-website/src/assets/i18n/en.json
  apps/personal-website/src/assets/i18n/pl.json
  libs/personal-website-components/src/index.ts
  libs/personal-website-components/src/lib/diagram/node-templates.ts
  libs/personal-website-components/src/lib/diagram/nodes/basic-node/basic-node.component.html
  libs/personal-website-components/src/lib/diagram/nodes/basic-node/basic-node.component.scss
  libs/personal-website-components/src/lib/diagram/nodes/basic-node/basic-node.component.ts
  libs/personal-website-components/src/lib/diagram/nodes/note-node/note-node.component.html
  libs/personal-website-components/src/lib/diagram/nodes/note-node/note-node.component.scss
  libs/personal-website-components/src/lib/diagram/nodes/note-node/note-node.component.ts
  libs/personal-website-components/src/lib/diagram/palette/diagram-palette.component.html
  libs/personal-website-components/src/lib/diagram/palette/diagram-palette.component.ts
  libs/personal-website-components/src/lib/diagram/sidebar/diagram-sidebar.component.html
  libs/personal-website-components/src/lib/diagram/sidebar/diagram-sidebar.component.ts
Due: prettier --write, eslint --fix

Beautification of a diagram component. global style tweaks
  apps/personal-website/src/app/pages/form/form.component.scss
  apps/personal-website/src/app/pages/model-3d/model-3d.component.html
  apps/personal-website/src/assets/i18n/en.json
  apps/personal-website/src/assets/i18n/pl.json
  apps/personal-website/src/styles.scss
  apps/personal-website/src/styles/variables.scss
  libs/personal-website-components/src/lib/diagram/palette/diagram-palette.component.html
  libs/personal-website-components/src/lib/diagram/sidebar/diagram-sidebar.component.html
  libs/personal-website-components/src/lib/diagram/sidebar/diagram-sidebar.component.scss
  libs/personal-website-components/src/lib/diagram/sidebar/diagram-sidebar.component.ts
  libs/personal-website-components/src/lib/home-three/home-three.component.html
  libs/personal-website-components/src/lib/list/list.component.scss
Due: prettier --write, eslint --fix

nodes import fix
  .husky/pre-commit
  libs/personal-website-components/src/lib/diagram/node-templates.ts
Due: prettier --write, eslint --fix

revert pre-commit
  .husky/pre-commit
Due: none

Refactor nodes
  apps/personal-website/src/app/pages/diagram/diagram.component.ts
  apps/personal-website/src/assets/i18n/en.json
  apps/personal-website/src/assets/i18n/pl.json
  libs/personal-website-components/src/index.ts
  libs/personal-website-components/src/lib/diagram/node-templates.ts
  libs/personal-website-components/src/lib/diagram/nodes/basic-node/basic-node.component.html
  libs/personal-website-components/src/lib/diagram/nodes/basic-node/basic-node.component.ts
  libs/personal-website-components/src/lib/diagram/nodes/group/group.component.html
  libs/personal-website-components/src/lib/diagram/nodes/group/group.component.scss
  libs/personal-website-components/src/lib/diagram/nodes/group/group.component.ts
  libs/personal-website-components/src/lib/diagram/nodes/note-node/note-node.component.html
  libs/personal-website-components/src/lib/diagram/nodes/note-node/note-node.component.ts
  libs/personal-website-components/src/lib/diagram/palette/diagram-palette.component.html
  libs/personal-website-components/src/lib/diagram/palette/diagram-palette.component.ts
  libs/personal-website-components/src/lib/diagram/sidebar/diagram-sidebar.component.html
Due: prettier --write, eslint --fix

eslint bug fixed
  libs/personal-website-components/src/lib/diagram/node-templates.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{ts,js,json,md,html,css,scss}
  eslint --fix: any of: *.{ts,js,html}
