Repository psawicki4/personal-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

lint-staged moved to package.json
  .lintstagedrc
  package.json
Due: prettier --write

list tests real store
  apps/personal-website/src/app/pages/list-page/list-page.component.spec.ts
Due: prettier --write, eslint --fix

updated room store with entities
  apps/personal-website/src/app/pages/list-page/list-page.component.html
  apps/personal-website/src/app/pages/list-page/list-page.component.spec.ts
  apps/personal-website/src/app/pages/list-page/list-page.component.ts
  apps/personal-website/src/app/pages/list-page/room.type.ts
  apps/personal-website/src/app/pages/list-page/rooms.store.ts
Due: prettier --write, eslint --fix

new unit test and fixed form e2e tests
  apps/personal-website/cypress/e2e/form.component.cy.ts
  apps/personal-website/cypress/support/form-helpers.ts
  apps/personal-website/src/app/components/card/card.component.spec.ts
  apps/personal-website/src/app/components/header/header.component.spec.ts
  apps/personal-website/src/app/components/lang-switch/lang-switch.component.spec.ts
  apps/personal-website/src/app/components/list/list.component.spec.ts
  apps/personal-website/src/app/components/menu/menu.component.spec.ts
  apps/personal-website/src/app/pages/form/form.component.spec.ts
  apps/personal-website/src/app/pages/grid/grid.component.spec.ts
  apps/personal-website/src/app/pages/list-page/list-page.component.spec.ts
Due: prettier --write, eslint --fix

grid tests sonar fix
  apps/personal-website/src/app/pages/grid/grid.component.spec.ts
Due: prettier --write, eslint --fix

removed angular localize
  apps/personal-website/project.json
  apps/personal-website/src/main.ts
  apps/personal-website/tsconfig.app.json
  apps/personal-website/tsconfig.spec.json
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

cypress longer timeouts
  apps/personal-website/cypress.config.ts
Due: prettier --write, eslint --fix

updated package-lock
  package-lock.json
Due: prettier --write

libs added
  .gitignore
  .vscode/extensions.json
  apps/personal-website/src/app/app.component.ts
  apps/personal-website/src/app/components/lang-switch/lang-switch.component.spec.ts
  apps/personal-website/src/app/components/lang-switch/lang-switch.component.ts
  apps/personal-website/src/app/pages/form/form.component.spec.ts
  apps/personal-website/src/app/pages/form/form.component.ts
  apps/personal-website/src/app/pages/grid/grid.component.spec.ts
  apps/personal-website/src/app/pages/grid/grid.component.ts
  apps/personal-website/src/app/services/merge-to-en.js
  eslint.config.mjs
  libs/personal-website-components/README.md
  libs/personal-website-components/eslint.config.mjs
  libs/personal-website-components/project.json
  libs/personal-website-components/src/index.ts
  libs/personal-website-components/src/test-setup.ts
  libs/personal-website-components/tsconfig.json
  libs/personal-website-components/tsconfig.lib.json
  libs/personal-website-components/tsconfig.spec.json
  libs/personal-website-components/vite.config.mts
  libs/utils/README.md
  libs/utils/eslint.config.mjs
  libs/utils/project.json
  libs/utils/src/index.ts
  libs/utils/src/lib/lang.service.ts
  libs/utils/src/test-setup.ts
  libs/utils/tsconfig.json
  libs/utils/tsconfig.lib.json
  libs/utils/tsconfig.spec.json
  libs/utils/vite.config.mts
  nx.json
  package-lock.json
  package.json
  tsconfig.base.json
  vitest.workspace.ts
Due: prettier --write, eslint --fix

lib config fix
  nx.json
Due: prettier --write

import format tweaks
  apps/personal-website/src/app/app.component.ts
  apps/personal-website/src/app/pages/form/form.component.ts
  apps/personal-website/src/app/pages/grid/grid.component.ts
  apps/personal-website/src/app/pages/home/home.component.ts
  apps/personal-website/src/app/pages/list-page/list-page.component.ts
Due: prettier --write, eslint --fix

disabled panning in models
  apps/personal-website/src/app/pages/model-3d/model-3d.component.ts
  libs/personal-website-components/src/lib/home-three/home-three.component.ts
Due: prettier --write, eslint --fix

ai-assistant init
  apps/personal-website/src/app/pages/ai-assistant/ai-assistant.component.html
  apps/personal-website/src/app/pages/ai-assistant/ai-assistant.component.scss
  apps/personal-website/src/app/pages/ai-assistant/ai-assistant.component.spec.ts
  apps/personal-website/src/app/pages/ai-assistant/ai-assistant.component.ts
  nx.json
Due: prettier --write, eslint --fix

enviroments key settings
  .github/workflows/ci.yml
  apps/personal-website/src/environments/environment.development.ts
  apps/personal-website/src/environments/environment.ts
Due: prettier --write, eslint --fix

video added
  apps/personal-website/project.json
  apps/personal-website/src/app/app.routes.ts
  apps/personal-website/src/app/pages/ai-assistant/ai-assistant.component.html
  apps/personal-website/src/app/pages/ai-assistant/ai-assistant.component.ts
  apps/personal-website/src/app/pages/ai-assistant/gemini.service.ts
  apps/personal-website/src/assets/i18n/en.json
  apps/personal-website/src/assets/i18n/pl.json
  libs/personal-website-components/src/lib/menu/menu.component.html
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

inject api key script
  .github/workflows/ci.yml
  .gitignore
  apps/personal-website/project.json
  package.json
  tools/scripts/inject-api-key.mjs
Due: prettier --write

tests fix
  apps/personal-website/src/app/pages/ai-assistant/ai-assistant.component.spec.ts
  apps/personal-website/src/app/pages/form/form.component.spec.ts
Due: prettier --write, eslint --fix

ci test
  .github/workflows/ci.yml
Due: none

ci test 2
  .github/workflows/ci.yml
Due: none

ci test fin
  .github/workflows/ci.yml
Due: none

test depends fix
  .github/workflows/ci.yml
  apps/personal-website/project.json
Due: prettier --write

removed test
  apps/personal-website/project.json
  apps/personal-website/src/app/pages/ai-assistant/ai-assistant.component.spec.ts
Due: prettier --write, eslint --fix

gemini tts added
  apps/personal-website/project.json
  apps/personal-website/src/app/app.config.ts
  apps/personal-website/src/app/pages/ai-assistant/ai-assistant.component.html
  apps/personal-website/src/app/pages/ai-assistant/ai-assistant.component.ts
  apps/personal-website/src/app/pages/ai-assistant/gemini.service.ts
  apps/personal-website/src/assets/i18n/en.json
  apps/personal-website/src/assets/i18n/pl.json
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

pre-commit tweak
  .husky/pre-commit
Due: none

ai-assistant draft ready
  apps/personal-website/src/app/pages/ai-assistant/ai-assistant.component.html
  apps/personal-website/src/app/pages/ai-assistant/ai-assistant.component.ts
  apps/personal-website/src/app/pages/ai-assistant/gemini.service.ts
  apps/personal-website/src/assets/i18n/en.json
  apps/personal-website/src/assets/i18n/pl.json
Due: prettier --write, eslint --fix

translate small change
  apps/personal-website/src/assets/i18n/en.json
  apps/personal-website/src/assets/i18n/pl.json
Due: prettier --write

facingMode switch to environment
  apps/personal-website/src/app/pages/ai-assistant/ai-assistant.component.ts
Due: prettier --write, eslint --fix

spinner-overlay added, ai-assistant getUserMedia change to full hd
  apps/personal-website/project.json
  apps/personal-website/src/app/app.config.ts
  apps/personal-website/src/app/pages/ai-assistant/ai-assistant.component.html
  apps/personal-website/src/app/pages/ai-assistant/ai-assistant.component.ts
  apps/personal-website/src/assets/i18n/en.json
  apps/personal-website/src/assets/i18n/pl.json
  apps/personal-website/src/environments/environment.ts
  libs/personal-website-components/src/index.ts
  libs/personal-website-components/src/lib/spinner-overlay/spinner-overlay.component.html
  libs/personal-website-components/src/lib/spinner-overlay/spinner-overlay.component.scss
  libs/personal-website-components/src/lib/spinner-overlay/spinner-overlay.component.spec.ts
  libs/personal-website-components/src/lib/spinner-overlay/spinner-overlay.component.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

ci fix
  .github/workflows/ci.yml
Due: none

removed key
  apps/personal-website/src/environments/environment.ts
Due: prettier --write, eslint --fix

sonar issues fixes
  apps/personal-website/src/app/pages/ai-assistant/ai-assistant.component.ts
  apps/personal-website/src/app/pages/ai-assistant/gemini.service.ts
  libs/personal-website-components/src/lib/spinner-overlay/spinner-overlay.component.ts
  tools/scripts/inject-api-key.mjs
Due: prettier --write, eslint --fix

video size fixed in desctop mode, freeze video added
  apps/personal-website/src/app/pages/ai-assistant/ai-assistant.component.html
  apps/personal-website/src/app/pages/ai-assistant/ai-assistant.component.scss
  apps/personal-website/src/app/pages/ai-assistant/ai-assistant.component.ts
Due: prettier --write, eslint --fix

ci fix
  .github/workflows/ci.yml
  apps/personal-website/src/app/pages/ai-assistant/ai-assistant.component.html
  apps/personal-website/src/app/pages/ai-assistant/ai-assistant.component.scss
  apps/personal-website/src/app/pages/ai-assistant/ai-assistant.component.ts
  apps/personal-website/src/app/pages/ai-assistant/gemini.service.ts
  apps/personal-website/src/environments/environment.ts
  libs/personal-website-components/src/lib/spinner-overlay/spinner-overlay.component.ts
  tools/scripts/inject-api-key.mjs
Due: prettier --write, eslint --fix

spinner-overlay added, ai-assistant getUserMedia change to full hd
  .github/workflows/ci.yml
  apps/personal-website/project.json
  apps/personal-website/src/app/app.config.ts
  apps/personal-website/src/app/pages/ai-assistant/ai-assistant.component.html
  apps/personal-website/src/app/pages/ai-assistant/ai-assistant.component.scss
  apps/personal-website/src/app/pages/ai-assistant/ai-assistant.component.ts
  apps/personal-website/src/app/pages/ai-assistant/gemini.service.ts
  apps/personal-website/src/assets/i18n/en.json
  apps/personal-website/src/assets/i18n/pl.json
  apps/personal-website/src/environments/environment.ts
  libs/personal-website-components/src/index.ts
  libs/personal-website-components/src/lib/spinner-overlay/spinner-overlay.component.html
  libs/personal-website-components/src/lib/spinner-overlay/spinner-overlay.component.scss
  libs/personal-website-components/src/lib/spinner-overlay/spinner-overlay.component.spec.ts
  libs/personal-website-components/src/lib/spinner-overlay/spinner-overlay.component.ts
  package-lock.json
  package.json
  tools/scripts/inject-api-key.mjs
Due: prettier --write, eslint --fix

cleanup api key
  .husky/pre-commit
  apps/personal-website/project.json
  package.json
  tools/scripts/cleanup-api-key.mjs
Due: prettier --write

installed web-vitals
  package-lock.json
  package.json
Due: prettier --write

vercel analytics added
  apps/personal-website/src/app/app.component.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Inp (#7)
  apps/personal-website/src/app/app.component.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

injectSpeedInsights added
  apps/personal-website/src/app/app.component.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{ts,js,json,md,html,css,scss}
  eslint --fix: any of: *.{ts,js,html}
