Repository psawicki4/personal-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

edge labels added
  apps/personal-website/src/assets/i18n/en.json
  apps/personal-website/src/assets/i18n/pl.json
  libs/personal-website-components/src/lib/diagram/node-templates.ts
  libs/personal-website-components/src/lib/diagram/palette/diagram-palette.component.scss
  libs/personal-website-components/src/lib/diagram/sidebar/diagram-sidebar.component.html
  libs/personal-website-components/src/lib/diagram/sidebar/diagram-sidebar.component.ts
Due: prettier --write, eslint --fix

removed test from diagram-palette
  libs/personal-website-components/src/lib/diagram/palette/diagram-palette.component.spec.ts
Due: prettier --write, eslint --fix

decision node added
  apps/personal-website/src/app/pages/diagram/diagram.component.ts
  apps/personal-website/src/assets/i18n/en.json
  apps/personal-website/src/assets/i18n/pl.json
  libs/personal-website-components/src/index.ts
  libs/personal-website-components/src/lib/diagram/node-templates.ts
  libs/personal-website-components/src/lib/diagram/nodes/decision-node/decision-node.component.html
  libs/personal-website-components/src/lib/diagram/nodes/decision-node/decision-node.component.scss
  libs/personal-website-components/src/lib/diagram/nodes/decision-node/decision-node.component.ts
  libs/personal-website-components/src/lib/diagram/nodes/process-node/process-node.component.html
  libs/personal-website-components/src/lib/diagram/nodes/process-node/process-node.component.scss
  libs/personal-website-components/src/lib/diagram/nodes/process-node/process-node.component.ts
  libs/personal-website-components/src/lib/diagram/palette/diagram-palette.component.html
  libs/personal-website-components/src/lib/diagram/palette/diagram-palette.component.ts
  libs/personal-website-components/src/lib/diagram/sidebar/diagram-sidebar.component.html
  libs/personal-website-components/src/lib/diagram/sidebar/diagram-sidebar.component.scss
Due: prettier --write, eslint --fix

custom edge added
  apps/personal-website/src/app/pages/diagram/diagram.component.html
  apps/personal-website/src/app/pages/diagram/diagram.component.ts
  apps/personal-website/src/assets/i18n/en.json
  apps/personal-website/src/assets/i18n/pl.json
  libs/personal-website-components/src/index.ts
  libs/personal-website-components/src/lib/diagram/custom-edge/custom-edge.component.html
  libs/personal-website-components/src/lib/diagram/custom-edge/custom-edge.component.scss
  libs/personal-website-components/src/lib/diagram/custom-edge/custom-edge.component.ts
  libs/personal-website-components/src/lib/diagram/diagram-templates.ts
  libs/personal-website-components/src/lib/diagram/node-templates.ts
  libs/personal-website-components/src/lib/diagram/nodes/in-out-node/in-out-node.component.html
  libs/personal-website-components/src/lib/diagram/nodes/in-out-node/in-out-node.component.scss
  libs/personal-website-components/src/lib/diagram/nodes/in-out-node/in-out-node.component.ts
  libs/personal-website-components/src/lib/diagram/palette/diagram-palette.component.html
  libs/personal-website-components/src/lib/diagram/palette/diagram-palette.component.ts
  libs/personal-website-components/src/lib/diagram/sidebar/diagram-sidebar.component.html
  libs/personal-website-components/src/lib/diagram/sidebar/diagram-sidebar.component.ts
Due: prettier --write, eslint --fix

diagram final
  apps/personal-website/src/app/pages/diagram/diagram.component.ts
  libs/personal-website-components/src/lib/diagram/nodes/group/group.component.html
  libs/personal-website-components/src/lib/diagram/nodes/group/group.component.scss
  libs/personal-website-components/src/lib/diagram/nodes/group/group.component.ts
  libs/personal-website-components/src/lib/diagram/nodes/in-out-node/in-out-node.component.scss
  libs/personal-website-components/src/lib/diagram/nodes/note-node/note-node.component.html
  libs/personal-website-components/src/lib/diagram/nodes/note-node/note-node.component.scss
  libs/personal-website-components/src/lib/diagram/nodes/note-node/note-node.component.ts
Due: prettier --write, eslint --fix

test fix
  GEMINI.md
  apps/personal-website/src/app/pages/diagram/diagram.component.spec.ts
  libs/personal-website-components/src/lib/diagram/palette/diagram-palette.component.spec.ts
  libs/personal-website-components/src/test-setup.ts
Due: prettier --write, eslint --fix

nx update
  package.json
  pnpm-lock.yaml
Due: prettier --write

diagram mobile fix
  apps/personal-website/src/app/pages/diagram/diagram.component.html
  apps/personal-website/src/app/pages/diagram/diagram.component.scss
  apps/personal-website/src/assets/i18n/en.json
  apps/personal-website/src/assets/i18n/pl.json
Due: prettier --write, eslint --fix

removed empty test
  apps/personal-website/src/app/pages/diagram/diagram.component.spec.ts
Due: prettier --write, eslint --fix

gemini settings fix
  .gemini/commands/monitor-ci.toml
  .gemini/settings.json
  .vscode/mcp.json
Due: prettier --write

unit test added
  apps/personal-website/src/app/pages/diagram/diagram.component.spec.ts
  libs/personal-website-components/src/lib/diagram/nodes/decision-node/decision-node.component.spec.ts
  libs/personal-website-components/src/lib/diagram/nodes/group/group.component.spec.ts
  libs/personal-website-components/src/lib/diagram/nodes/in-out-node/in-out-node.component.spec.ts
  libs/personal-website-components/src/lib/diagram/nodes/note-node/note-node.component.spec.ts
  libs/personal-website-components/src/lib/diagram/nodes/process-node/process-node.component.spec.ts
  libs/personal-website-components/src/lib/diagram/palette/diagram-palette.component.spec.ts
  libs/personal-website-components/src/lib/diagram/sidebar/diagram-sidebar.component.spec.ts
Due: prettier --write, eslint --fix

sonar fixes
  apps/personal-website/src/app/pages/diagram/diagram.component.spec.ts
  libs/personal-website-components/src/lib/diagram/nodes/decision-node/decision-node.component.spec.ts
  libs/personal-website-components/src/lib/diagram/nodes/group/group.component.spec.ts
  libs/personal-website-components/src/lib/diagram/nodes/in-out-node/in-out-node.component.spec.ts
  libs/personal-website-components/src/lib/diagram/nodes/note-node/note-node.component.spec.ts
  libs/personal-website-components/src/lib/diagram/nodes/process-node/process-node.component.spec.ts
  libs/personal-website-components/src/lib/diagram/palette/diagram-palette.component.spec.ts
  libs/personal-website-components/src/lib/diagram/sidebar/diagram-sidebar.component.spec.ts
  libs/personal-website-components/src/test-setup.ts
Due: prettier --write, eslint --fix

SonarQube duplication fixes
  apps/personal-website/src/app/pages/diagram/diagram.component.ts
  apps/personal-website/src/app/pages/diagram/diagram.model.ts
  libs/personal-website-components/src/lib/diagram/nodes/decision-node/decision-node.component.spec.ts
  libs/personal-website-components/src/lib/diagram/nodes/in-out-node/in-out-node.component.spec.ts
  libs/personal-website-components/src/lib/diagram/nodes/node-test.helpers.ts
  libs/personal-website-components/src/lib/diagram/nodes/note-node/note-node.component.spec.ts
  libs/personal-website-components/src/lib/diagram/nodes/process-node/process-node.component.spec.ts
Due: prettier --write, eslint --fix

sonarQube duplication fix
  apps/personal-website/src/app/pages/diagram/diagram.model.ts
  libs/personal-website-components/src/lib/diagram/nodes/decision-node/decision-node.component.spec.ts
  libs/personal-website-components/src/lib/diagram/nodes/in-out-node/in-out-node.component.spec.ts
  libs/personal-website-components/src/lib/diagram/nodes/note-node/note-node.component.spec.ts
  libs/personal-website-components/src/lib/diagram/nodes/process-node/process-node.component.spec.ts
Due: prettier --write, eslint --fix

camera off placeholder
  apps/personal-website/src/app/pages/ai-assistant/ai-assistant.component.html
  apps/personal-website/src/app/pages/ai-assistant/ai-assistant.component.scss
  apps/personal-website/src/app/pages/ai-assistant/ai-assistant.component.ts
  apps/personal-website/src/assets/i18n/en.json
  apps/personal-website/src/assets/i18n/pl.json
Due: prettier --write, eslint --fix

mobile text for placeholder centered
  apps/personal-website/src/app/pages/ai-assistant/ai-assistant.component.html
Due: prettier --write, eslint --fix

analitics commented
  apps/personal-website/src/app/app.component.ts
Due: prettier --write, eslint --fix

imports fix
  apps/personal-website/src/app/app.component.ts
Due: prettier --write, eslint --fix

rollback vercel analytics
  apps/personal-website/src/app/app.component.ts
Due: prettier --write, eslint --fix

packages updated
  README.md
  apps/personal-website/src/app/pages/model-3d/model-3d.component.ts
  libs/personal-website-components/src/lib/home-three/home-three.component.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

model animation fix
  apps/personal-website/src/app/pages/model-3d/model-3d.component.ts
  libs/personal-website-components/src/lib/home-three/home-three.component.ts
Due: prettier --write, eslint --fix

diagram hidden in mobile
  libs/personal-website-components/src/lib/menu/menu.component.html
Due: prettier --write, eslint --fix

ignoreDeprecations tsconfig
  tsconfig.base.json
Due: prettier --write

ignoreDeprecations tsconfig 6
  tsconfig.base.json
Due: prettier --write

removed ignoreDep
  tsconfig.base.json
Due: prettier --write

nx updated
  .gitignore
  .prettierignore
  package.json
  pnpm-lock.yaml
Due: prettier --write

package updated
  apps/personal-website/eslint.config.mjs
  apps/personal-website/src/app/pages/diagram/diagram.component.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

start-server-and-test updated
  package.json
  pnpm-lock.yaml
Due: prettier --write

audit fixed
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Revert "package updated"
  apps/personal-website/eslint.config.mjs
  apps/personal-website/src/app/pages/diagram/diagram.component.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, eslint --fix

removed name from vercel.json
  vercel.json
Due: prettier --write

build test
  package.json
Due: prettier --write

build test reverted
  package.json
Due: prettier --write

vercel function modify
  api/index.js
Due: prettier --write, eslint --fix

index.js reverted
  api/index.js
Due: prettier --write, eslint --fix

rename test
  package.json
Due: prettier --write

rename fix
  package.json
Due: prettier --write

raname reverted
  package.json
Due: prettier --write

outputDirectory test
  vercel.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,js,json,md,html,css,scss}
  eslint --fix: any of: *.{ts,js,html}
