Repository psawicki4/personal-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{ts,js,json,md,html,css,scss}": [
    "prettier --write"
  ],
  "*.{ts,js,html}": [
    "eslint --fix"
  ]
}

outputDirectory test 2
  vercel.json
Due: prettier --write

removed version from vercel.json
  vercel.json
Due: prettier --write

packages updated
  apps/personal-website/eslint.config.mjs
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

List test refactored
  libs/personal-website-components/src/lib/list/list.component.spec.ts
Due: prettier --write, eslint --fix

lock update
  pnpm-lock.yaml
Due: none

pnpm update and adudit
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

pnpm audit 2
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

vercel public removed
  vercel.json
Due: prettier --write

cat form ids added
  apps/personal-website/src/app/pages/form/form.component.html
Due: prettier --write, eslint --fix

list page test fixed
  apps/personal-website/src/app/pages/list-page/list-page.component.spec.ts
Due: prettier --write, eslint --fix

form inputs aria-labelledby added
  apps/personal-website/src/app/pages/form/form.component.html
Due: prettier --write, eslint --fix

ids and aria-labelledby added in model-3d, diableam-sidebar
  apps/personal-website/src/app/pages/model-3d/model-3d.component.html
  apps/personal-website/src/styles.scss
  libs/personal-website-components/src/lib/diagram/sidebar/diagram-sidebar.component.html
Due: prettier --write, eslint --fix

styles import order fix
  apps/personal-website/src/styles.scss
Due: prettier --write

aria-label fix
  libs/personal-website-components/src/lib/diagram/sidebar/diagram-sidebar.component.html
Due: prettier --write, eslint --fix

nx migrate 23
  .gitignore
  apps/personal-website/src/app/app.component.ts
  apps/personal-website/src/server.ts
  apps/personal-website/tsconfig.app.json
  apps/personal-website/tsconfig.json
  apps/personal-website/tsconfig.spec.json
  libs/personal-website-components/tsconfig.json
  libs/utils/tsconfig.json
  package.json
  pnpm-lock.yaml
  tools/tsconfig.tools.json
  tsconfig.base.json
  vitest.config.ts
  vitest.workspace.ts
Due: prettier --write, eslint --fix

localStorage mock
  apps/personal-website/src/app/pages/grid/grid.component.spec.ts
  libs/utils/src/index.ts
  libs/utils/src/lib/local-storage-testing.ts
Due: prettier --write, eslint --fix

@oxc-project/runtime added
  package.json
  pnpm-lock.yaml
Due: prettier --write

localstorage mock fixed
  apps/personal-website/src/app/pages/grid/grid.component.spec.ts
  libs/utils/src/index.ts
  libs/utils/src/lib/local-storage-testing.ts
Due: prettier --write, eslint --fix

packages updated
  README.md
  apps/personal-website/src/app/pages/home/home.component.html
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, eslint --fix

cypress config fix
  apps/personal-website/cypress.config.ts
Due: prettier --write, eslint --fix

sonarCube issues fix
  apps/personal-website/cypress.config.ts
  apps/personal-website/src/server.ts
Due: prettier --write, eslint --fix

vercel.app hosts allowed
  apps/personal-website/project.json
Due: prettier --write

Nx 23 (#28)
  .gitignore
  README.md
  apps/personal-website/cypress.config.ts
  apps/personal-website/project.json
  apps/personal-website/src/app/app.component.ts
  apps/personal-website/src/app/pages/grid/grid.component.spec.ts
  apps/personal-website/src/app/pages/home/home.component.html
  apps/personal-website/src/server.ts
  apps/personal-website/tsconfig.app.json
  apps/personal-website/tsconfig.json
  apps/personal-website/tsconfig.spec.json
  libs/personal-website-components/tsconfig.json
  libs/utils/src/index.ts
  libs/utils/tsconfig.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/tsconfig.tools.json
  tsconfig.base.json
  vitest.config.ts
  vitest.workspace.ts
Due: prettier --write, eslint --fix

grid api switched to countries.dev
  apps/personal-website/src/app/pages/grid/country.type.ts
  apps/personal-website/src/app/pages/grid/grid.component.ts
  apps/personal-website/src/app/pages/grid/grid.service.ts
  apps/personal-website/src/assets/i18n/en.json
  apps/personal-website/src/assets/i18n/pl.json
Due: prettier --write, eslint --fix

packages updated
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

lock
  pnpm-lock.yaml
Due: none

--ignore-scripts added, deprecations removed
  .github/workflows/ci.yml
  apps/personal-website/src/app/app.config.ts
Due: prettier --write, eslint --fix

ci fix
  .github/workflows/ci.yml
Due: none

feat: update Gemini model to gemini-3.5-flash-lite
  apps/personal-website/src/app/pages/ai-assistant/gemini.service.ts
Due: prettier --write, eslint --fix

feat: update Gemini model to gemini-3.5-flash-lite (#32)
  apps/personal-website/src/app/pages/ai-assistant/gemini.service.ts
Due: prettier --write, eslint --fix

feat: Refactor form component to use signal forms and improve validation
  apps/personal-website/cypress/e2e/form.component.cy.ts
  apps/personal-website/cypress/support/form-helpers.ts
  apps/personal-website/src/app/pages/form/age-birthday-validator.ts
  apps/personal-website/src/app/pages/form/form.component.html
  apps/personal-website/src/app/pages/form/form.component.spec.ts
  apps/personal-website/src/app/pages/form/form.component.ts
  apps/personal-website/src/app/pages/form/form.type.ts
Due: prettier --write, eslint --fix

fix: sonarCube fixes
  apps/personal-website/cypress/e2e/form.component.cy.ts
  apps/personal-website/src/app/pages/form/age-birthday-validator.ts
  apps/personal-website/src/app/pages/form/form.component.html
Due: prettier --write, eslint --fix

feat: Refactor form component to use signal forms and improve validation (#33)
  apps/personal-website/cypress/e2e/form.component.cy.ts
  apps/personal-website/cypress/support/form-helpers.ts
  apps/personal-website/src/app/pages/form/age-birthday-validator.ts
  apps/personal-website/src/app/pages/form/form.component.html
  apps/personal-website/src/app/pages/form/form.component.spec.ts
  apps/personal-website/src/app/pages/form/form.component.ts
  apps/personal-website/src/app/pages/form/form.type.ts
Due: prettier --write, eslint --fix

small form desc tweak
  apps/personal-website/src/assets/i18n/pl.json
Due: prettier --write

hide ai assistant
  libs/personal-website-components/src/lib/menu/menu.component.html
Due: prettier --write, eslint --fix
